@font-face {
  font-family: Calibri;
  src: url("../public/fonts/calibri.ttf");
}

@font-face {
  font-family: Calibri Bold;
  src: url("../public/fonts/calibri-bold.ttf");
}

@font-face {
  font-family: Calibri Light;
  src: url("../public/fonts/calibri-light.ttf");
}

body {
  font-family: Calibri !important;
}

.heading{
  text-align: center;
  font-size: 56px;
  text-transform: uppercase;

  margin-block: 32px;
  color: #b24e28;
}